.container{
    max-width: 1207px;
}

.privacy{
    margin-bottom: 100px;
}

.col {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.legalTextMain{
    font-weight: 700;
    font-size: 54px;
    line-height: 104%;
    color: #fefefe;

    margin-top: 40px;
}

.legalTextContent{
    font-weight: 400;
    font-size: 20px;
    line-height: 171%;
    color: #fefefe;

    margin-top: 25px;
}

.legal{
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    
    padding-top: 40px;
    padding-bottom: 32px;
}

.sidebar {
  /* position: fixed; */
    height: auto;
    max-width: 1207px;
    min-width: 100px;

    /* margin-top: 91px; */

    /* display: grid;
    margin-left: auto; */
  }

  .background{
    position: absolute;

    left: 0;
    right: 0;
    width: 100vh; 
    height: 100%;
    background: rgb(17, 17, 17);
    z-index: -1;
}

    .blueLineal{
      width: 4px;
      height: auto;
      background: rgba(86, 125, 255, 1); 
      border-radius: 5px;
      padding: 0px;
      margin-left: 12px;
    }

  .sidebar-nav .nav-link {
    padding: .25rem 1rem;
    color: #938c8c;
    font-weight: 500;
    font-size: 16px;
    line-height: 137%;
    
  }

  .sidebar-nav .nav-link.active {
    font-weight: bold; 
    color: #fff;
  }

  @media (max-width:770px) {

    .legalTextMain{
      font-weight: 700;
      font-size: 24px;
    }

    .legalTextContent{
      font-weight: 400;
      font-size: 17px;  
      line-height: 129%;
    }

    .legal{
      font-weight: 700;
      font-size: 22px;
      line-height: 127%;
      padding-bottom: 22px;
      padding-top: 18px;
    }
/* 
    .sidebar{
      top: 60px;
    } */

    .sidebar-nav .nav-link {
      font-weight: 600;
    }

    .content{
      margin-top: 220px;
    }
    
  }