.container{
    max-width: 1174px;
}

.privacy{
    margin-bottom: 100px;
}

.col {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.legalTextMain{
    font-weight: 700;
    font-size: 54px;
    line-height: 104%;
    color: #fefefe;

    margin-top: 40px;
}

.legalTextMainFirst{
  font-weight: 700;
  font-size: 54px;
  line-height: 104%;
  color: #fefefe;

  margin-top: 40px;
}

.legalTextContent{
    font-weight: 400;
    font-size: 20px;
    line-height: 171%;
    color: #fefefe;

    max-width: 873px;

    margin-top: 25px;
}

.legal{
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    
    /* padding-top: 40px; */
    padding-bottom: 32px;
}

.sidebar {
    max-width: 235px;
    position: sticky;
    height: auto;
    top: 92px;
    /* padding-top: 18px; */
    /* max-width: 1207px;
    min-width: 100px; */

    /* margin-top: 91px; */

    /* display: grid;
    margin-left: auto; */
  }

  .background{
    position: absolute;

    left: 0;
    right: 0;
    width: auto; 
    height: 100%;
    background: rgb(17, 17, 17);
    z-index: -1;
}

    .blueLineal{
      width: 4px;
      height: auto;
      background: rgba(86, 125, 255, 1); 
      border-radius: 5px;
      padding: 0px;
      margin-left: 12px;
    }

  .sidebar-nav .nav-link {
    padding: 7px 1rem;
    color: #938c8c;
    font-weight: 500;
    font-size: 16px;

    
  }

  .sidebar-nav .nav-link.active {
    font-weight: bold; 
    color: #fff;
  }

  .back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    font-size: 24px;
    color: #fff;
    background: #000;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
    width: 45px;
  }
   
  .back-to-top:hover {
    background: #333;
    text-decoration: none;
  }

  @media (max-width:768px) {

    .legalTextMain{
      font-weight: 700;
      font-size: 24px;
      margin-top: 30px;
    }

    .legalTextMainFirst{
      margin-top: 0;

      font-weight: 700;
      font-size: 24px;
    }

    .legalTextContent{
      font-weight: 400;
      font-size: 17px;  
      line-height: 129%;

      margin-top: 12px;
    }

    .legal{
      font-weight: 700;
      font-size: 22px;
      line-height: 127%;
      padding-bottom: 22px;
      padding-top: 18px;
    }

    .sidebar{
      position:static;
      max-width: 100vh;
      top: 51px;
    }

    .sidebar-nav .nav-link {
      font-weight: 600;
    }

    .sidebarPad{
      padding-bottom: 22px;
    }

    .content{
      /* margin-top: 220px; */
    }

    .privacy{
      margin-bottom: 24px;
    }
    
  }