.container{
    max-width: 1207px;
}

.privacy{
    margin-bottom: 100px;
}

.col {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.legalTextMain{
    font-weight: 700;
    font-size: 54px;
    line-height: 104%;
    color: #fefefe;

    margin-top: 40px;
}

.legalTextContent{
    font-weight: 400;
    font-size: 20px;
    line-height: 171%;
    color: #fefefe;

    margin-top: 25px;
}

.legal{
    font-weight: 600;
    font-size: 16px;
    color: #fff;

    padding-bottom: 32px;
    padding-top: 40px;
}

.sidebar {
    position: fixed;
    /* top: 91px; */
    
    height: auto;
    width: 250px;
    z-index: 2;

    margin-left: auto;
  }

  .sidebar-nav {
    /* border-radius: 1px;
    border-left: 4px solid rgba(86, 125, 255, 1);  */
  }
    .blueLineal{
      width: 4px;
      height: auto;
      background: rgba(86, 125, 255, 1); 
      border-radius: 5px;
      padding: 0px;
      margin-left: 12px;
    }

  .sidebar-nav .nav-link {
    padding: .25rem 1rem;
    color: #938c8c;
    font-weight: 500;
    font-size: 16px;
    line-height: 137%;
    
  }

  .sidebar-nav .nav-link.active {
    font-weight: bold; 
    color: #fff;
  }

  .background{
    position: absolute;
    left: 0;
    right: 0;
    width: 200%; 
    height: 100%; 
    background: rgb(17, 17, 17);
    z-index: -2;

}

  @media (max-width:770px) {

    .legalTextMain{
      font-weight: 700;
      font-size: 24px;
    }

    .legalTextContent{
      font-weight: 400;
      font-size: 17px;  
      line-height: 129%;
    }

    .legal{
      font-weight: 700;
      font-size: 22px;
      line-height: 127%;

      padding-top: 18px;

      padding-bottom: 22px;
    }
/* 
    .sidebar{
      top: 60px;
    } */

    .sidebar-nav .nav-link {
      font-weight: 600;
    }

    .content{
      margin-top: 220px;
    }
    
  }