.exambleContainer{
    display: grid;
    grid-template-columns: 576px 576px;
    row-gap: 40px;
    column-gap: 24px;
    justify-content: center;
    margin-top:174px;
}

.exambleText{
    grid-column: 1/3;
}

.exambleText1{
    font-family: "Inter";
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -0.03em;
    text-align: center;
    color: rgb(255, 255, 255);
}

.exambleText2{
    font-family: "Inter";
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.03em;
    text-align: center;
    color: rgba(108, 114, 117, 1);
    margin-top: 25px;
}

.grayS1,.grayS2,.grayS3,.grayS4 {
    width: 576px;
    /* top: 1206px;
    left: 132px; */
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: rgba(35, 38, 39, 1);
    border-radius: 24px;
    align-items: center;
    border: 1px solid rgba(52, 56, 57, 1);
    
    padding: 28px 40px 40px 40px;
}

.grayS1text{
    margin-top: 28px;
}

.grayS1text1{

    gap: 0px;
    opacity: 0px;
    text-align: center;
    font-family: "Inter";
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(243, 245, 247, 1);
    z-index: 3;
}

.grayS1text2{
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.03em;
    text-align: left;
    color: rgba(108, 114, 117, 1);
    margin-top: 12px;
}

/* .phone{
    margin-top: 40px;
    margin-left: 40px;
    width: 496px;
    height: 528px;
} */

.imgShow{
  display: none;
}

.svgExable{
  position: absolute;
  margin-top: 1230px;
  z-index: -2;
}

@media (max-width:570px) {

    .exambleContainer{
        grid-template-columns: 343px;
        row-gap: 16px;
        margin-top: 70px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .exambleText{
      grid-column: 1;
  }

    .exambleText1{
      font-weight: 700;
      font-size: 24px;
      letter-spacing: -0.03em;
      color: #fefefe;
      text-align: start;

    }

    .exambleText2{
        font-size: 15px;
        text-align: start;
        margin-top: 10px;
    }

    .grayS1,.grayS2,.grayS3,.grayS4 {
        width: 343px;
        border-radius: 20px;
        padding: 16px 16px 26px 16px;
    }

    .grayS1text{
      margin-bottom: 10px;
  }

  .imgHidden{
    display: none;
  }

  .imgShow{
    display:contents;
  }

    .grayS1text1{
        font-size: 22px;
    }

  .grayS1text2{
        font-size: 14px;
        margin-top: 10px;

    }

}

@media (min-width: 1800px) {
  .svgExable {
    display: none; 
  }
}

