.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
    /* max-width: 1207px; */
    max-width: 1207px;

    padding-left: 16px;
    padding-right: 16px;
}

.introImage {
    width: 379px;
    height: 273.56px;
    background: #232627;
    border-radius: 20px;
    order: 1;
    z-index: 2;
}

.autorIcon{
    width: 28px; 
    height: 28px; 
    border-radius: 100%; 
    background: #a6a6a6;

    margin-right: 10px;
    z-index: 2;
}

.dotIcon {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: #567dff;
    margin: 0 10px 0 0;
}

a {
    text-decoration: none;
}

.introBlogText{
    font-weight: 700;
    font-size: 54px;
    color: #fff;

    margin-top: 42px;
    height: 65px;
}

.svgBild{
    width: 100%;
    left: 0;
    right: 0;
    padding: 0;

    position: absolute;
    padding-top: 412px; 
    z-index: -1;
}

.previewBox{
    border-radius: 30px;
    max-width: 589px;
    height: 409px;
    background: #232627;

    margin-top: 50px;
}

.introBlogContainer{
    z-index: 2;
    padding-left: 12px;
    padding-right: 12px;
}

.nameBlogTextMain{
    font-weight: 700;
    font-size: 24px;
   
    color: #fff;

}

.descriptionBlogText{
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #fff;
    margin-top: 11.84px;

    display: grid;
    justify-content: end;

    max-width: 546px;
}

.ongoingsContainer{
    padding-left: 12px;
    padding-right: 12px;
}

.autorContainer{
    display: flex;
    align-items: center;
    order: 0;
    margin-top: 29px;

    padding-left: 12px;
    padding-right: 12px;
}

.paddiingNull{
    padding-right: 0px;
    padding-left: 0px;
}

.contentAutorBigText{
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #fff;

    margin-right: 10px;
}

.contentAutorSmallText{
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #fff;

    margin-right: 10px;
}

.blogText{
    font-weight: 500;
    font-size: 18px;
    line-height: 172%;
    color: #fff;

    max-width: 378px;
    margin-top: 18px;
}

.blogLineal{
    border: 1px solid #232323;

    margin-top: 24px;
    margin-bottom: 25px;
}

.blogTitelPhone{
    font-weight: 600;
    font-size: 17px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: #fff;

    width: auto;
}

.lsOngoingsText{
    font-weight: 700;
    font-size: 36px;
    color: #fff;

    margin-top: 170px;
}

.blog{
    margin-top: 40px; 
}

.buttonMore{
    border-radius: 50px;
    border: 1px solid #fefefe89;
    width: 202px;
    height: 48px;
    background: #567dff;
    font-weight: 600;
    font-size: 18px;
    line-height: 178%;
    letter-spacing: -0.03em;
    color: #fefefe;

    margin-top: 53px;
    margin-bottom: 100px;
    }

    .introImageOngoing{
        border-radius: 20px;
        width: 379px;
        height: 273px;
        background: #232627;
    }

    .blogTextOngoing{
        font-weight: 500;
        font-size: 18px;
        line-height: 172%;
        color: #fff;
    
        max-width: 378px;
    
        margin-top: 18px;
    }

    .buttonMorePhone{
        display: none;
    }

@media (min-width: 1800px) {
    .svgBild {
      display: none; 
    }
  }

  @media (max-width:570px) {

    .svgBild {
        display: none; 
      }
      
    .introBlogText{
        font-size: 24px;
        height: 29px;

        margin-top: 18px;
        margin-bottom: 24px;

    }

    .introImage {
        width: auto;
        height: 178px;
    }

    .introBlogContainer{
        margin-top: 0px;
    }

    .ongoingsContainer{
        display: flex;
        flex-wrap: wrap;
        flex-wrap: nowrap;
        overflow-x: auto; 
        width: 100px;
        height: auto;
        box-sizing: border-box;

        margin-bottom: 24px;
    }

    .lsOngoingsText{
        margin-top: 0px;

        font-size: 24px;
    }

    .blog{
        flex: 1 0 21%;
        margin-top: 10px;
        margin-right: 12px;
    }

    .autorContainer{
        margin-top: 0px;
    }

    .autorIcon{
        border-radius: 1000px;
        width: 40px;
        height: 40px;

        margin-right: 12px;
    }
    .blogName{
        width: 180px;
    }

    .blogText{
        margin-top: 10px;
    }

    .introImage{
        margin-top: 16px;
    }

    .dotIcon{
        display: none;
    }

    .contentAutorSmallText{
        font-weight: 400;
        font-size: 15px;
        color: #6c7275;

        margin-right: 0;
    }

    .dataMargAuto{
        margin-left: auto;
    }

    .introImageOngoing{
        border-radius: 10px;
        width: 140px;
        height: 140px;
    }


    .blogTextOngoing{
        overflow: hidden; 
        text-overflow: ellipsis; 
        white-space: nowrap;        
        width: 140px;

        font-weight: 600;
        font-size: 15px;

        margin-top: 6px;
    }

    .buttonMorePhone{
        display: block;
        width: 8px;
        height: 13px;
        justify-content: center;
        margin-top: 5px;
        margin-right: 10px;
    }

    .buttonMore{
        display: none;
    }

  }

  @media (min-width:570px) {

    .blogTitelPhone{
        display: none;
    }

    .blogLineal{
        display: none;
    }
    
  }
