.reviewsContainer{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    justify-items: center;
    row-gap: 40px;

    margin-top: 208px;
    overflow:hidden;
}
.reviews{
    display: grid;
    position: relative;
    grid-template-columns: repeat(3,auto);
    column-gap: 24px;
    justify-content: center;
    align-items: start;
    overflow:hidden;
    height: 780px;
}

.examble{
    font-family: "Inter";
    font-weight: 700;
    font-size: 48px;
    line-height: 117%;
    letter-spacing: -0.03em;
    text-align: center;
    color: #fefefe;
    width: 800px;

    
}

/* .reviews{
    display:flex;
    height: 690px;
    position: relative;
    padding-left: 134px;
    padding-right: 134px;
    margin-top: 20px;
    align-items: start;
    margin-bottom: 176px;
    overflow:hidden;
} */

.list{
    display: grid;
    grid-template-columns: 376px;
    gap: 24px;
    align-items: start;
}

.review{
    display: block;
    width: 376px;
    height: 100%;
    border-radius: 24px 24px 24px 4px;
    background: rgba(35, 38, 39, 1);
    border: 1px solid rgba(52, 56, 57, 1);
    object-fit: cover;
}

.textReview{
    width: 312px;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.03em;
    color: rgba(254, 254, 254, 1);
    margin: 32px;
}

.reviewImg{
    height: 48px;
    display: grid;
    grid-template-columns: 48px 252px;
    column-gap: 12px;
    row-gap: 4px;
    width: 312px;
    margin-right: 32px;
    margin-left: 32px;
    margin-bottom: 32px;

}
.reviewFoto{
    grid-row: 1 / 3;
}

.reviewName{
    font-family: "Inter";
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: -0.02em;
    color: #fefefe;
    height: 24px;
}

.reviewName1{
    font-family: "Inter";
    font-weight: 500;
    font-size: 12px;
    line-height: 167%;
    letter-spacing: -0.03em;
    color: #6c7275;
    height: 20px;
}

.blur{
    position: absolute;
    width: 1180px;
    height: 348px;
    background: linear-gradient(180deg, rgba(20, 23, 24, 0) 0%, #111 100%);
    bottom: 0px;
    grid-column: 1/4;
}

@media (max-width:570px) {

    .reviewsContainer{
        margin-top: 70px;
        row-gap: 20px;
    }

    .examble{
        justify-content: center;
        font-size: 24px;
        width: 343px;
        text-align: start;
        margin: 0;
    }

    .displayNone{
        display: none;
    }

    .reviews{
        grid-template-columns: 343px;
    }

    .review{
        width: 343px;
    }

    .textReview{
        width: 292px;
        margin: 25px;
    }

}