.download{
    position: relative;
    display: grid;
    overflow-y:hidden; 
    overflow: hidden;
    /* overflow-y: hidden;  */
    grid-template-columns: 780px 396px;
    /* white-space: nowrap; */
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-top: 104px;
    height: 440px;
    padding-left: 16px;
    padding-right: 16px;
}

.download-grid{

    display: grid;
    grid-template-columns: 775px;
    row-gap: 24px;
    text-align: start;
    padding-left: 1px;
}

.downText1{
    font-weight: 700;
    font-size: 48px;
    line-height: 117%;
    letter-spacing: -0.03em;
    color: rgb(255, 255, 255);
}

.downText2{
    font-weight: 400;
    font-size: 17px;
    line-height: 141%;
    letter-spacing: -0.01em;
    color: #fff;
}

.downSquadContainer{
    position: absolute;
    display: grid;
    position: relative;
    grid-template-columns: 694px;
    justify-items: end;
    align-items: center;
    justify-items: center;
    padding-right: 200px;
    
    width: 694px; 
    height: 445px; 
   
}

.downSquad{
    stroke-width: .7px;
    stroke: rgb(255, 255, 255);
    width: 694px;
    height: 694px;

    margin-top: -130px;

    gap: 7.23px;
    /* opacity: 0.3; */
    grid-column: 1/-1;
    grid-row: 1/-1;
    z-index: -2;
}


.elips1{
    grid-column: 1/-1;
    grid-row: 1/-1;
    position: absolute;
    
    border-radius: 100%;
    /* background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgb(17, 17, 17) 46.59%); */
    background: radial-gradient(circle, rgba(22, 22, 24, 0.434) 5%, rgb(17, 17, 17) 30%);


    /* background: radial-gradient(closest-side,  rgba(22, 22, 24, 0.147) 20%,rgb(17, 17, 17) 10%); */

    margin-top: -130px;
    filter: blur(100.875px);
    width: 1518px;
    height: 1518px;

    z-index: -1;
}

/* .downGridEmp{
    border-bottom: 0.72px solid rgba(255, 255, 255);
    border-right: 0.72px solid rgba(255, 255, 255);
}

.downGridGray{
    background: rgba(255, 255, 255, .3);
    border-bottom: 0.72px solid rgba(255, 255, 255);
    border-right: 0.72px solid rgba(255, 255, 255);
} */

.downText1{
    font-weight: 700;
    font-size: 48px;

    color: rgb(255, 255, 255);
}

.downText2{
    font-weight: 400;
    font-size: 17px;
    line-height: 141%;
    letter-spacing: -0.01em;
    color: #fff;
}

.gStartedDown{
    border-radius: 50px;
    width: 158px;
    height: 48px;
}

.wDemoDown{
    border: 1px solid #fefefe;
    border-radius: 50px;
    width: 183px;
    height: 48px;
}

@media (max-width: 1200px) {
    .download{
        grid-template-columns: 460px 196px;
     
    }

}

@media (max-width: 992px) {

    .download{
        grid-template-columns: 543px;
        align-items: start;
        height: 278px;
        margin-top: 70px;
        margin-bottom: 0;
    }

    .download-grid{
        grid-template-columns: 543px;
        row-gap: 10px;
    }
    
    .downText1{
        font-size: 34px;

    }

    .downText2{
        font-weight: 600;
        font-size: 15px;
        line-height: 147%;
        letter-spacing: -0.03em;
        color: #6c7275;
    }

    .gStartedDown{
        width: 100px;
        height: 37px;

        font-weight: 500;
        font-size: 13px;
        line-height: 246%;
        letter-spacing: -0.03em;
        color: #fefefe;
    }

    .wDemoDown{
        width: 108px;
        height: 37px;

        font-weight: 500;
        font-size: 13px;
        line-height: 246%;
        letter-spacing: -0.03em;
        color: #fefefe;
    }

    .downSquad{
        margin-top: -215px;
    }
}

@media (max-width:570px) {

    .download{
        grid-template-columns: 343px;
        align-items: start;
        height: 278px;
        margin-top: 70px;
        margin-bottom: 0;
    }

    .download-grid{
        grid-template-columns: 343px;
        row-gap: 10px;
    }
    
    .downText1{
        font-size: 24px;

        width: 300px;
    }

    .downText2{
        font-weight: 600;
        font-size: 15px;
        line-height: 147%;
        letter-spacing: -0.03em;
        color: #6c7275;
    }

    .gStartedDown{
        width: 100px;
        height: 37px;

        font-weight: 500;
        font-size: 13px;
        line-height: 246%;
        letter-spacing: -0.03em;
        color: #fefefe;
    }

    .wDemoDown{
        width: 108px;
        height: 37px;

        font-weight: 500;
        font-size: 13px;
        line-height: 246%;
        letter-spacing: -0.03em;
        color: #fefefe;
    }

    .downSquad{
        margin-top: -215px;
    }
}





